Repository askiada/external-sort, changes with the labels that .github/labeler.yml gives for each.
All labels: s3, file, internal, reader, sftp, vector, writer, ci

feat(make) add ci_test
  Makefile
Labels: none

lint
  bucket/s3.go
  file/batchingchannels/batching_channel.go
  file/batchingchannels/batching_channel_test.go
  file/chunk.go
  file/file.go
  file/shuffle.go
  file/sort.go
  file/utils.go
  internal/rw/rw.go
  main.go
  main_test.go
  reader/contract.go
  reader/gzip_separated_values_test.go
  vector/vector.go
  writer/contract.go
  writer/std_writer.go
Labels: s3, file, internal, reader, vector, writer

feat(ci) add basic workflow
  .github/workflows/integration.yml
  testdata/chunks/output.tsv
Labels: ci

lint
  .gitignore
  file/batchingchannels/batching_channel.go
  file/file.go
  file/shuffle.go
  file/sort.go
  internal/progress/contract.go
  internal/rw/rw.go
  main.go
  main_test.go
  sftp/sftp.go
  vector/key/int_key.go
  writer/std_writer.go
Labels: file, internal, sftp, vector, writer

lint
  bucket/s3.go
  file/batchingchannels/batching_channel.go
  file/batchingchannels/batching_channel_test.go
  file/batchingchannels/doc.go
  file/chunk.go
  file/sort.go
  internal/rw/rw.go
  main.go
  main_bench_test.go
  main_test.go
  reader/contract.go
  reader/gzip_separated_values_test.go
  sftp/sftp.go
  vector/key/int_key.go
  vector/key/key.go
  vector/key/string_key.go
  vector/key/tsv_key.go
  vector/vector.go
  writer/gzip_separated_values.go
  writer/std_writer.go
Labels: s3, file, internal, reader, sftp, vector, writer

proto test
  grpc/external_sort_index.proto
Labels: none

.github/labeler.yml:

s3:
  - bucket/*
  - bucket/**/*

file:
  - file/*
  - file/**/*

internal:
  - internal/*
  - internal/**/*

reader:
  - reader/*
  - reader/**/*

sftp:
  - sftp/*
  - sftp/**/*

vector:
  - vector/*
  - vector/**/*

writer:
  - writer/*
  - writer/**/*

ci:
  - .github/*
  - .github/**/*
